In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer

In [ ]:
df = pd.read_csv('../data/raw/adult.csv')

In [ ]:
df

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32557,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32558,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32559,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32560,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K

In [ ]:
print(df.info())
print(df.isnull().sum())
print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education.num   32561 non-null  int64
 5   marital.status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital.gain    32561 non-null  int64
 11  capital.loss    32561 non-null  int64
 12  hours.per.week  32561 non-null  int64
 13  native.country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB
None
age               0
workclass         0
fnlwgt            0
education         0
education.num     0
marital.status    0
occupation        0
relationship      0
race              0
sex               0
capital.gain      0
capital.loss      0
hours.per.week    0
native.country    0
income            0
dtype: int64
   age workclass  fnlwgt     education  education.num marital.status  \
0   90         ?   77053       HS-grad              9        Widowed
1   82   Private  132870       HS-grad              9        Widowed
2   66         ?  186061  Some-college             10        Widowed
3   54   Private  140359       7th-8th              4       Divorced
4   41   Private  264663  Some-college             10      Separated

          occupation   relationship   race     sex  capital.gain  \
0                  ?  Not-in-family  White  Female             0
1    Exec-managerial  Not-in-family  White  Female             0
2                  ?      Unmarried  Black  Female             0
3  Machine-op-inspct      Unmarried  White  Female             0
4     Prof-specialty      Own-child  White  Female             0

   capital.loss  hours.per.week native.country income
0          4356              40  United-States  <=50K
1          4356              18  United-States  <=50K
2          4356              40  United-States  <=50K
3          3900              40  United-States  <=50K
4          3900              40  United-States  <=50K

In [ ]:
df.replace('?', np.nan, inplace=True)
print(df.isnull().sum())
df.dropna(inplace=True)

age                  0
workclass         1836
fnlwgt               0
education            0
education.num        0
marital.status       0
occupation        1843
relationship         0
race                 0
sex                  0
capital.gain         0
capital.loss         0
hours.per.week       0
native.country     583
income               0
dtype: int64

In [ ]:
df.replace('?', np.nan, inplace=True)
print(df.isnull().sum())
df.dropna(inplace=True)

categorical_cols = ['workclass', 'education', 'marital.status', 'occupation',
                    'relationship', 'race', 'sex', 'native.country']

df = pd.get_dummies(df, columns=categorical_cols, drop_first=True)

df['income'] = df['income'].apply(lambda x: 1 if x.strip() == '>50K' else 0)

num_cols = ['age', 'fnlwgt', 'education.num', 'capital.gain', 'capital.loss', 'hours.per.week']

scaler = StandardScaler()
df[num_cols] = scaler.fit_transform(df[num_cols])


print(df.head())
print(df.info())

age               0
workclass         0
fnlwgt            0
education         0
education.num     0
marital.status    0
occupation        0
relationship      0
race              0
sex               0
capital.gain      0
capital.loss      0
hours.per.week    0
native.country    0
income            0
dtype: int64
        age    fnlwgt  education.num  capital.gain  capital.loss  \
1  3.316630 -0.538790      -0.439738     -0.147445     10.555814
3  1.184831 -0.467906      -2.400559     -0.147445      9.427915
4  0.195067  0.708645      -0.047574     -0.147445      9.427915
5 -0.337883  0.256222      -0.439738     -0.147445      9.106365
6 -0.033340 -0.370964      -1.616231     -0.147445      9.106365

   hours.per.week  income  workclass_Local-gov  workclass_Private  \
1       -1.914161       0                False               True
3       -0.077734       0                False               True
4       -0.077734       0                False               True
5        0.339636       0                False               True
6       -0.077734       0                False               True

   workclass_Self-emp-inc  ...  native.country_Portugal  \
1                   False  ...                    False
3                   False  ...                    False
4                   False  ...                    False
5                   False  ...                    False
6                   False  ...                    False

   native.country_Puerto-Rico  native.country_Scotland  native.country_South  \
1                       False                    False                 False
3                       False                    False                 False
4                       False                    False                 False
5                       False                    False                 False
6                       False                    False                 False

   native.country_Taiwan  native.country_Thailand  \
1                  False                    False
3                  False                    False
4                  False                    False
5                  False                    False
6                  False                    False

   native.country_Trinadad&Tobago  native.country_United-States  \
1                           False                          True
3                           False                          True
4                           False                          True
5                           False                          True
6                           False                          True

   native.country_Vietnam  native.country_Yugoslavia
1                   False                      False
3                   False                      False
4                   False                      False
5                   False                      False
6                   False                      False

[5 rows x 97 columns]
<class 'pandas.core.frame.DataFrame'>
Index: 30162 entries, 1 to 32560
Data columns (total 97 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   age                                        30162 non-null  float64
 1   fnlwgt                                     30162 non-null  float64
 2   education.num                              30162 non-null  float64
 3   capital.gain                               30162 non-null  float64
 4   capital.loss                               30162 non-null  float64
 5   hours.per.week                             30162 non-null  float64
 6   income                                     30162 non-null  int64
 7   workclass_Local-gov                        30162 non-null  bool
 8   workclass_Private                          30162 non-null  bool
 9   workclass_Self-emp-inc                     30162 non-null  bool
 10  workclass_Self-emp-not-inc                 30162 non-null  bool
 11  workclass_State-gov                        30162 non-null  bool
 12  workclass_Without-pay                      30162 non-null  bool
 13  education_11th                             30162 non-null  bool
 14  education_12th                             30162 non-null  bool
 15  education_1st-4th                          30162 non-null  bool
 16  education_5th-6th                          30162 non-null  bool
 17  education_7th-8th                          30162 non-null  bool
 18  education_9th                              30162 non-null  bool
 19  education_Assoc-acdm                       30162 non-null  bool
 20  education_Assoc-voc                        30162 non-null  bool
 21  education_Bachelors                        30162 non-null  bool
 22  education_Doctorate                        30162 non-null  bool
 23  education_HS-grad                          30162 non-null  bool
 24  education_Masters                          30162 non-null  bool
 25  education_Preschool                        30162 non-null  bool
 26  education_Prof-school                      30162 non-null  bool
 27  education_Some-college                     30162 non-null  bool
 28  marital.status_Married-AF-spouse           30162 non-null  bool
 29  marital.status_Married-civ-spouse          30162 non-null  bool
 30  marital.status_Married-spouse-absent       30162 non-null  bool
 31  marital.status_Never-married               30162 non-null  bool
 32  marital.status_Separated                   30162 non-null  bool
 33  marital.status_Widowed                     30162 non-null  bool
 34  occupation_Armed-Forces                    30162 non-null  bool
 35  occupation_Craft-repair                    30162 non-null  bool
 36  occupation_Exec-managerial                 30162 non-null  bool
 37  occupation_Farming-fishing                 30162 non-null  bool
 38  occupation_Handlers-cleaners               30162 non-null  bool
 39  occupation_Machine-op-inspct               30162 non-null  bool
 40  occupation_Other-service                   30162 non-null  bool
 41  occupation_Priv-house-serv                 30162 non-null  bool
 42  occupation_Prof-specialty                  30162 non-null  bool
 43  occupation_Protective-serv                 30162 non-null  bool
 44  occupation_Sales                           30162 non-null  bool
 45  occupation_Tech-support                    30162 non-null  bool
 46  occupation_Transport-moving                30162 non-null  bool
 47  relationship_Not-in-family                 30162 non-null  bool
 48  relationship_Other-relative                30162 non-null  bool
 49  relationship_Own-child                     30162 non-null  bool
 50  relationship_Unmarried                     30162 non-null  bool
 51  relationship_Wife                          30162 non-null  bool
 52  race_Asian-Pac-Islander                    30162 non-null  bool
 53  race_Black                                 30162 non-null  bool
 54  race_Other                                 30162 non-null  bool
 55  race_White                                 30162 non-null  bool
 56  sex_Male                                   30162 non-null  bool
 57  native.country_Canada                      30162 non-null  bool
 58  native.country_China                       30162 non-null  bool
 59  native.country_Columbia                    30162 non-null  bool
 60  native.country_Cuba                        30162 non-null  bool
 61  native.country_Dominican-Republic          30162 non-null  bool
 62  native.country_Ecuador                     30162 non-null  bool
 63  native.country_El-Salvador                 30162 non-null  bool
 64  native.country_England                     30162 non-null  bool
 65  native.country_France                      30162 non-null  bool
 66  native.country_Germany                     30162 non-null  bool
 67  native.country_Greece                      30162 non-null  bool
 68  native.country_Guatemala                   30162 non-null  bool
 69  native.country_Haiti                       30162 non-null  bool
 70  native.country_Holand-Netherlands          30162 non-null  bool
 71  native.country_Honduras                    30162 non-null  bool
 72  native.country_Hong                        30162 non-null  bool
 73  native.country_Hungary                     30162 non-null  bool
 74  native.country_India                       30162 non-null  bool
 75  native.country_Iran                        30162 non-null  bool
 76  native.country_Ireland                     30162 non-null  bool
 77  native.country_Italy                       30162 non-null  bool
 78  native.country_Jamaica                     30162 non-null  bool
 79  native.country_Japan                       30162 non-null  bool
 80  native.country_Laos                        30162 non-null  bool
 81  native.country_Mexico                      30162 non-null  bool
 82  native.country_Nicaragua                   30162 non-null  bool
 83  native.country_Outlying-US(Guam-USVI-etc)  30162 non-null  bool
 84  native.country_Peru                        30162 non-null  bool
 85  native.country_Philippines                 30162 non-null  bool
 86  native.country_Poland                      30162 non-null  bool
 87  native.country_Portugal                    30162 non-null  bool
 88  native.country_Puerto-Rico                 30162 non-null  bool
 89  native.country_Scotland                    30162 non-null  bool
 90  native.country_South                       30162 non-null  bool
 91  native.country_Taiwan                      30162 non-null  bool
 92  native.country_Thailand                    30162 non-null  bool
 93  native.country_Trinadad&Tobago             30162 non-null  bool
 94  native.country_United-States               30162 non-null  bool
 95  native.country_Vietnam                     30162 non-null  bool
 96  native.country_Yugoslavia                  30162 non-null  bool
dtypes: bool(90), float64(6), int64(1)
memory usage: 4.4 MB
None

In [ ]:
df

,age,fnlwgt,education.num,capital.gain,capital.loss,hours.per.week,income,workclass_Local-gov,workclass_Private,workclass_Self-emp-inc,...,native.country_Portugal,native.country_Puerto-Rico,native.country_Scotland,native.country_South,native.country_Taiwan,native.country_Thailand,native.country_Trinadad&Tobago,native.country_United-States,native.country_Vietnam,native.country_Yugoslavia
1,3.316630,-0.538790,-0.439738,-0.147445,10.555814,-1.914161,0,False,True,False,...,False,False,False,False,False,False,False,True,False,False
3,1.184831,-0.467906,-2.400559,-0.147445,9.427915,-0.077734,0,False,True,False,...,False,False,False,False,False,False,False,True,False,False
4,0.195067,0.708645,-0.047574,-0.147445,9.427915,-0.077734,0,False,True,False,...,False,False,False,False,False,False,False,True,False,False
5,-0.337883,0.256222,-0.439738,-0.147445,9.106365,0.339636,0,False,True,False,...,False,False,False,False,False,False,False,True,False,False
6,-0.033340,-0.370964,-1.616231,-0.147445,9.106365,-0.077734,0,False,True,False,...,False,False,False,False,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,-1.251511,1.139203,-0.047574,-0.147445,-0.218586,-0.077734,0,False,True,False,...,False,False,False,False,False,False,False,True,False,False
32557,-0.870832,0.638972,0.736754,-0.147445,-0.218586,-0.244682,0,False,True,False,...,False,False,False,False,False,False,False,True,False,False
32558,0.118931,-0.335252,-0.439738,-0.147445,-0.218586,-0.077734,1,False,True,False,...,False,False,False,False,False,False,False,True,False,False
32559,1.489374,-0.358575,-0.439738,-0.147445,-0.218586,-0.077734,0,False,True,False,...,False,False,False,False,False,False,False,True,False,False
32560,-1.251511,0.110705,-0.439738,-0.147445,-0.218586,-1.747213,0,False,True,False,...,False,False,False,False,False,False,False,True,False,False

In [ ]:
processed_path = '../data/processed/adult_processed_v1_features_scaled.csv'

In [ ]:
processed_path = '../data/adult_processed_v1_features_scaled.csv'

In [ ]:
df.to_csv(processed_path, index=False)

In [ ]:
processed_path = '..data/processed/adult_processed_v1_features_scaled.csv'

In [ ]:
from pathlib import Path

In [ ]:
processed_dir = Path('../data/processed')

In [ ]:
processed_dir.mkdir(parents=True, exist_ok=True)

In [ ]:
output_path = processed_dir / 'adult_processed_v1_features_scaled.csv'

In [ ]:
df.to_csv(output_path, index=False)
print(f"✔️ Processed dataset saved to: {output_path.resolve()}")

✔️ Processed dataset saved to: C:\Users\Georgiy\Documents\adult_income_classifier\data\processed\adult_processed_v1_features_scaled.csv